{{- $isHeadless := promptBoolOnce . "isHeadless" "Is this a remote/headless machine" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $gitSigningKey := promptStringOnce . "gitSigningKey" "Git signing key" -}}

{
  "diff": {
    "pager": "delta"
  },
  "merge": {
    "command": "nvim",
    "args": ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
  },
  "data": {
    "email": {{ $email | quote }},
    "gitSigningKey": {{ $gitSigningKey | quote }},
    "isHeadless": {{ $isHeadless }}
  }
}
