{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $gitLabDomain := promptStringOnce . "gitLabDomain" "If GitLab is used provide the service domain (without the protocol)" -}}
{{- $sshIdentityFile := promptStringOnce . "sshIdentityFile" "SSH identity file path" -}}

{
  "diff": {
    "pager": "delta"
  },
  "merge": {
    "command": "nvim",
    "args": ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
  },
  "data": {
    "email": {{ $email | quote }},
    "gitLabDomain": {{ $gitLabDomain | quote }},
    "sshIdentityFile" : {{ $sshIdentityFile | quote }}
  }
}
