ZSH_THEME="dracula"

# Init Homebrew, which adds environment variables
eval "$(brew shellenv)"

source $HOMEBREW_PREFIX/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh

# Enable completions that are installed with Homebrew
fpath=($HOMEBREW_PREFIX/share/zsh/site-functions $fpath)

alias python="$(brew --prefix)/bin/python3"

# Oh my Zsh plugins. Can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
plugins=(
  git
  git-lfs
  brew
  fd
  fzf
  npm
  tig
  web-search
  ripgrep
  volta
  zoxide
)

source $ZSH/oh-my-zsh.sh

alias vi="nvim"
alias vim="nvim"
alias vimdiff="nvim -d"
alias lsy="ls --hyperlink=auto"
alias cat="bat --paging=never --style=plain"
alias fd="fd --hidden"
alias icat="kitten icat"
alias d="kitten diff"
alias s="kitten ssh"

eval "$(starship init zsh)"

eval "$(mcfly init zsh)"
# bindkey "^R" mcfly-history-widget # Ctrl+R binds mcfly
bindkey "^G" fzf-history-widget # Ctrl+G binds to fzf searcher

alias lg="lazygit"

export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"

function yy() {
    local tmp="$(mktemp -t "yazi-cwd.XXXXXX")"
    yazi "$@" --cwd-file="$tmp"
    if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
        cd -- "$cwd"
    fi
    rm -f -- "$tmp"
}
