export XDG_CONFIG_HOME="$HOME/.config"
export PATH=$HOME/.local/bin:$HOME/.cargo/bin:$HOME/go/bin:$HOME/.dotnet/tools:/snap/bin:$PATH
export LANG=en_US.UTF-8 LC_ALL=en_US.UTF-8

export VISUAL="nvim"
export EDITOR="nvim"

export LESS="-Ri"
export PAGER="less -Ri"

# Use fd in fzf instead of the default find command
export FZF_DEFAULT_COMMAND="fd --type f --strip-cwd-prefix"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_CTRL_T_OPTS="
  --preview 'bat -n --color=always {}'
  --bind 'ctrl-/:change-preview-window(down|hidden|)'"

{{- if eq .chezmoi.os "linux" }}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{- if eq .chezmoi.osRelease.id "debian" }}
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
{{- end }}

{{- if eq .chezmoi.osRelease.id "arch" }}
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
export DIFFPROG="delta --side-by-side --syntax-theme=Dracula"
{{- end }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
{{- end }}

# Path to oh-my-zsh installation.
export ZSH=~/.oh-my-zsh

ZSH_THEME="dracula"

# Oh my Zsh plugins. Can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
plugins=(
  git
  git-lfs
  brew
  fd
  fnm
  fzf
  npm
  tig
  web-search
  ripgrep
  zoxide
)

{{- if eq .chezmoi.os "darwin" }}
# Enable completions that are installed with Homebrew
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
{{- end }}

source $ZSH/oh-my-zsh.sh

alias ls=exa
alias cat="bat --paging=never --style=plain"
alias fd="fd --hidden"
alias icat="kitty +kitten icat"
alias d="kitty +kitten diff"
alias s="kitty +kitten ssh"
alias hrg="kitty +kitten hyperlinked_grep --smart-case --hidden"
{{- if eq .chezmoi.os "darwin" }}
alias python="/opt/homebrew/bin/python3"

eval $(/opt/homebrew/bin/brew shellenv)
{{- end }}

eval "$(starship init zsh)"

export MCFLY_RESULTS=30
export MCFLY_KEY_SCHEME=vim
export MCFLY_PROMPT="❯"
eval "$(mcfly init zsh)"
# bindkey "^R" mcfly-history-widget # Ctrl+R binds mcfly
bindkey "^G" fzf-history-widget # Ctrl+G binds to fzf searcher

if command -v fnm &> /dev/null; then
  eval "$(fnm env --use-on-cd)"
fi

export TEALDEER_CONFIG_DIR="$HOME/.config/tealdeer/"

alias lg="lazygit"

export NNN_OPTS="eH"
export NNN_COLORS="#0a1b2c3d;1234"
export NNN_FCOLORS="c1e2272e006033f7c6d6abc4"
export NNN_SPLIT="v"
{{- if eq .chezmoi.os "darwin" }}
export NNN_TRASH="1"
{{- end }}
export NNN_FIFO="/tmp/nnn.fifo"
export NNN_PLUG="c:chksum;d:fzcd;o:fzopen;p:preview-tui;u:getplugs;z:autojump"

n ()
{
    # Block nesting of nnn in subshells
    if [[ "${NNNLVL:-0}" -ge 1 ]]; then
        echo "nnn is already running"
        return
    fi

    # The behaviour is set to cd on quit (nnn checks if NNN_TMPFILE is set)
    # If NNN_TMPFILE is set to a custom path, it must be exported for nnn to
    # see. To cd on quit only on ^G, remove the "export" and make sure not to
    # use a custom path, i.e. set NNN_TMPFILE *exactly* as follows:
    NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"

    # The backslash allows one to alias n to nnn if desired without making an
    # infinitely recursive alias
    \nnn "$@"

    if [ -f "$NNN_TMPFILE" ]; then
            . "$NNN_TMPFILE"
            rm -f "$NNN_TMPFILE" > /dev/null
    fi
}

